.auth-onboarding-layout {
  @apply relative min-h-screen inset-0 bg-orange-50;

  .ellipse-img {
    @apply fixed top-0 right-0 w-[540px] h-[540px];
  }

  .onboarding-area {
    @apply relative mt-28 sm:mt-24 mx-auto z-10 w-[65%] xl:w-[75%] lg:w-[86%] md:w-full;
  }
}
